$container-lg-width: 1200px;

$font-size-default: 16px;

$font-text-basic: 'Raleway', sans-serif;

$color-text-default: #000;
$color-text-primary: #fff;
$color-text-accent: #97cf1f;

$color-background-default: #fff;
$color-background-accent: #97cf1f;

$color-border-accent: #97cf1f;

$color-shadow-accent: #97cf1f;