.goods {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;

  margin-top: 22px;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
  }

  &__header-title {
    text-transform: uppercase;
  }

  &__header-list {
    display: flex;

    li {
      color: #333;
      font-weight: 700;
      cursor: default;

      a {
        transition: color 0.3s ease-in;

        &:hover {
          cursor: pointer;
          color: $color-text-accent;
        }
      }
    }

    li.active a {
      color: $color-text-accent;

      &:hover {
        cursor: default;
      }
    }

    li + li {
      margin-left: 60px;
    }
  }

  &__header-search {
    position: relative;
    width: 500px;

    input[type="text"] {
      color: #333;
      display: inline-block;
      font-family: open sans, sans-serif;
      width: 100%;
      font-weight: 400;
      height: 40px;
      padding: 11px 30px 11px 15px;
      background: #fff;
      border: 1px solid #e0e0e0;
      border-radius: 0;
      box-shadow: none;

      transition: 0.3s ease-in;

      &:focus {
        outline: none;
        box-shadow: 1px 1px 10px rgba($color-shadow-accent, 0.8);
      }
    }
  }

  &__header-search-btn {
    position: absolute;
    display: inline-block;
    top: 0;
    font-size: 18px;
    line-height: 38px;
    height: 40px;
    width: 30px;
    text-align: center;
    right: 0;
    color: $color-text-accent;
    margin-right: 5px;

    transition: 0.3s color ease-in;

    &:hover {
      color: $color-text-default;
    }
  }

  &__item-image-block {
    border: 1px solid #e0e0e0;

    &:hover {
      img {
        opacity: 0.5;
      }
    }
  }

  &__item-img {
    transition: opacity 0.3s ease-in;
  }

  &__item-content {
    margin-top: 17px;
  }

  &__item-title {
    color: #777;
  }

  &__item-footer {
    margin-top: 12px;
    display: flex;
    justify-content: space-between;

    text-transform: uppercase;
    font-weight: 700;
  }

  &__item-btn {
    display: inline-block;
    position: relative;
    text-transform: uppercase;
    font-weight: 800;
    transition: 0.5s color ease;

    &:before {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      height: 1px;
      content: "";
      display: inline-block;
      background: #000;
      transition: 0.5s all ease;
    }

    &:hover {
      color: #97cf1f;

      &::before {
        background-color: #97cf1f;
        left: 50%;
        width: 0;
      }
    }
  }

  &__item-price,
  &__item-bonus {
    color: $color-border-accent;
    font-weight: 700;
    span {
      color: $color-text-default;
      &:nth-child(2) {
        color: #777;
        text-decoration: line-through;
        margin-left: 10px;
      }
    }
  }
}

.goods-no-grid {
  grid-template-columns: 1fr;

  .goods__none {
    font-size: 34px;
    text-align: center;
    color: #777;
    margin-top: 30px;
  }
}

.good-page {
  margin-top: 140px;
  display: flex;
  justify-content: center;
  width: 100%;

  .goods__item {
    display: flex;
  }

  .goods__item-content {
    margin-top: 0;
    margin-left: 40px;
  }

  .goods__item-title {
    font-size: 34px;
  }

  .goods__item-footer {
    flex-direction: column;
    align-items: flex-start;
  }

  .goods__item-bonus {
    font-size: 24px;
  }

  .goods__item-price {
    font-size: 20px;
    margin-bottom: 20px;
  }
}

.good-comment {
  margin-top: 30px;

  &__block-item {
    margin-top: 20px;
  }

  &__title {
    font-size: 24px;
  }

  &__block {
    margin-top: 30px;
  }

  &__block-item-name {
    color: $color-text-accent;
  }

  &__btn {
    width: 20px;
    height: 26px;
    font-size: 0;
    line-height: 1;
    padding: 0;
    border: none;
    background-color: transparent;
    background-image: url(data:image/svg+xml,%3Csvg%20width%3D%2220%22%20height%3D%2221%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M19.07%2011.737a3.689%203.689%200%2000.61-2.057c0-.867-.315-1.62-.945-2.26-.63-.639-1.375-.959-2.237-.959h-2.187c.397-.832.597-1.64.597-2.423%200-.984-.146-1.766-.436-2.347A2.752%202.752%200%200013.205.41C12.649.137%2012.024%200%2011.328%200c-.423%200-.795.156-1.118.467-.357.353-.613.808-.77%201.363a17.973%2017.973%200%2000-.38%201.596c-.095.51-.242.87-.441%201.08-.406.445-.85.984-1.33%201.615-.837%201.102-1.404%201.754-1.702%201.956H2.182c-.44%200-.815.158-1.125.473A1.57%201.57%200%2000.59%209.692v8.077c0%20.446.155.827.466%201.142.31.316.685.473%201.125.473H5.76c.183%200%20.754.169%201.715.505%201.02.362%201.916.638%202.691.827a9.88%209.88%200%20002.355.284h1.603c1.168%200%202.109-.339%202.821-1.016.712-.678%201.065-1.6%201.057-2.77.497-.648.745-1.397.745-2.247a3.89%203.89%200%2000-.037-.542c.315-.564.472-1.17.472-1.817a3.34%203.34%200%2000-.112-.871z%22%20fill%3D%22%23E8E8E8%22%2F%3E%3C%2Fsvg%3E);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center top;
    cursor: pointer;
    transition: background-image 0.3s ease 0s;
    flex-shrink: 0;

    &:hover, &--active {
      background-image: url(data:image/svg+xml,%3Csvg%20width%3D%2220%22%20height%3D%2221%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M19.07%2011.737a3.689%203.689%200%2000.61-2.057c0-.867-.315-1.62-.945-2.26-.63-.639-1.375-.959-2.237-.959h-2.187c.397-.832.597-1.64.597-2.423%200-.984-.146-1.766-.436-2.347A2.752%202.752%200%200013.205.41C12.649.137%2012.024%200%2011.328%200c-.423%200-.795.156-1.118.467-.357.353-.613.808-.77%201.363a17.973%2017.973%200%2000-.38%201.596c-.095.51-.242.87-.441%201.08-.406.445-.85.984-1.33%201.615-.837%201.102-1.404%201.754-1.702%201.956H2.182c-.44%200-.815.158-1.125.473A1.57%201.57%200%2000.59%209.692v8.077c0%20.446.155.827.466%201.142.31.316.685.473%201.125.473H5.76c.183%200%20.754.169%201.715.505%201.02.362%201.916.638%202.691.827a9.88%209.88%200%20002.355.284h1.603c1.168%200%202.109-.339%202.821-1.016.712-.678%201.065-1.6%201.057-2.77.497-.648.745-1.397.745-2.247a3.89%203.89%200%2000-.037-.542c.315-.564.472-1.17.472-1.817a3.34%203.34%200%2000-.112-.871z%22%20fill%3D%22%23CB11AB%22%2F%3E%3C%2Fsvg%3E);
    }

    &--active {
      pointer-events: none;
    }

    &--reverse {
      margin-left: 20px;
      transform: rotate(180deg);
    }
  }
}
