.header {
  // display: flex;
  color: $color-text-primary;

  &__top {
    font-size: 12px;
    background-color: $color-background-accent;
    padding: 14px 0;

    .container {
      display: flex;
      justify-content: space-between;
    }
  }

  &__top-left span:last-child {
    margin-left: 25px;
  }

  &__top-left a,
  &__top-right a {
    color: $color-text-primary;
    transition: color 0.3s ease-in;

    &:hover {
      color: $color-text-default;
    }
  }

  &__top-right > * {
    margin-left: 13px;
    padding-right: 8px;
    border-right: 1px solid #fff;

    &:last-child {
      border-right: none;
    }
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 43px;
    color: $color-text-default;
    font-size: 14px;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
  }

  &__bottom-nav {
    display: flex;
    align-items: center;
  }

  &__bottom-nav ul {
    display: flex;
    margin-right: 30px;
    margin-bottom: 0;
  }

  &__bottom-nav-item {
    padding: 8px 0;
    font-weight: 700;

    & + & {
      margin-left: 15px;
    }
  }

  &__bottom-nav a {
    transition: color 0.3s ease-in;

    &:hover {
      color: $color-text-accent;
    }
  }

  &__bottom-basket {
    position: relative;
    transition: color 0.3s ease-in;

    &:hover {
      .header__bottom-basket-num {
        color: $color-text-primary;
        background-color: $color-background-primary;
      }
    }
  }

  &__bottom-basket-num {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 17px;
    height: 17px;
    background-color: $color-background-accent;
    border-radius: 50%;

    position: absolute;
    top: -12px;
    left: 7px;
    font-size: 10px;

    transition: background-color 0.3s ease-in, color 0.3s ease-in;
  }

  &__top-right-bonus {
    position: relative;
    transition: color 0.3s ease-in;

    &:hover {
      color: $color-text-default;

      .header__top-right-bonus-card {
        z-index: 1000;
        opacity: 1;
      }
    }
  }

  &__top-right-bonus-card {
    opacity: 0;
    position: absolute;
    top: 29px;
    right: 0;
    z-index: -1000;

    width: 200px;
    background-color: $color-background-default;
    transition: opacity 0.3s ease-in;

    & > img {
      width: 100%;
    }

    & > span {
      position: relative;
      z-index: 100;
      display: inline-block;
      width: 100%;
      color: $color-text-default;
      font-size: 18px;
      text-align: center;
      padding-bottom: 5px;
    }
  }
}
