.main.reg {
  & .main__heading {
    text-transform: uppercase;
    font-size: 34px;
    line-height: 55px;
    text-align: center;
    overflow: hidden;

    &:after {
      content: "";
      height: 1px;
      display: block;
      background: #e0e0e0;
      margin: 20px 0 40px;
    }
  }

  & .main__info {
    margin: 0 0 10px;
    color: #777;
    font-size: 14px;
    line-height: 24px;

    a {
      color: $color-text-accent;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.main.auth {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;

  .well {
    background-color: $color-background-default;
    border: 1px solid #e0e0e0;
    border-top: 2px solid $color-border-accent;
    margin-bottom: 30px;
    padding: 30px;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;

    h2 {
      font-size: 32px;
      margin-bottom: 20px;
    }

    &__text {
      border-bottom: 1px solid #e0e0e0;
      padding: 20px 0;
      font-size: 14px;
      line-height: 24px;
      color: #777;
    }
  }
}
