.swiper-slider .slide-desc {
  text-align: center;
  display: inline-block;
  width: 100%;
  position: absolute;
  top: 53%;
  left: 0;
  transform: translateY(-50%);
}

.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
  background: url("img/svg/arrow.svg");
}

.swiper-slider .slide-desc h2 {
  font-size: 60px;
  margin-bottom: 8px;
}

.swiper-slider .slide-desc h3 {
  font-size: 58px;
  margin-bottom: 10px;
}

.swiper-slider .slide-desc h5 {
  font-size: 18px;
  margin-bottom: 8px;
}

.swiper-slider .slide-desc .btn-primary {
  display: inline-block;
  margin-top: 22px;
  padding: 14px 28px 15px;
  color: $color-text-primary;
  background-color: $color-background-accent;

  font-size: 14px;
  font-weight: 700;
  line-height: 21px;

  border-radius: 3px;

  transition: background-color 0.4s;

  &:hover {
    background-color: $color-text-default;
  }
}