*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  color: #000;
  position: relative;
  cursor: default;
}

img {
  display: block;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  max-width: 100%;
}

a {
  color: inherit;
  font-family: inherit;
  text-decoration: none;
}

button {
  color: inherit;
  font-family: inherit, sans-serif;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

.container {
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

ol, ul {
  list-style: none;
}

.form fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

.form fieldset + fieldset {
  margin-top: 24px;
}

.form legend {
  display: block;
  width: 100%;
  margin-bottom: 20px;
  line-height: inherit;
  color: #333;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
  font-weight: 400;
  font-size: 18px;
  padding: 7px 0;
}

.form__label {
  display: inline-block;
  width: 20%;
  font-size: 12px;
  font-weight: 400;
  color: #777;
  text-align: end;
  padding-right: 40px;
  margin-bottom: 3px;
}

.form sup {
  font-size: 14px;
  color: #ee372a;
  font-weight: 700;
  top: -3px;
  left: -2px;
}

.form__input {
  display: inline-block;
  width: 70%;
  background: #f5f5f5;
  border: 1px solid #e0e0e0;
  color: #333;
  font-size: 14px;
  height: 40px;
  line-height: 24px;
  padding: 8px 10px 8px 20px;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 3px;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.form__input:focus {
  border-color: #97cf1f;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.078), 0 0 8px rgba(102, 175, 233, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.078), 0 0 8px rgba(102, 175, 233, 0.6);
}

.form__group + .form__group {
  margin-top: 20px;
}

.form__message {
  font-size: 12px;
  margin-left: 21%;
  padding: 5px 0;
  color: #ee372a;
}

.form__submit {
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.form__submit p {
  font-size: 12px;
  color: #ee372a;
  padding: 5px 0;
}

.form__submit input {
  display: block;
  width: auto;
  height: auto;
  background-color: #97cf1f;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  padding: 14px 20px;
  border-radius: 6px;
  -webkit-transition: background-color 0.3s ease-in;
  transition: background-color 0.3s ease-in;
  outline: 0;
  border: none;
}

.form__submit input:hover {
  background-color: #000;
  cursor: pointer;
}

.form textarea {
  resize: none;
  border-radius: 6px;
  padding: 10px;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.form textarea:focus {
  border-color: #97cf1f;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.078), 0 0 8px rgba(102, 175, 233, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.078), 0 0 8px rgba(102, 175, 233, 0.6);
}

.form.auth .form__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form.auth .form__group + .form__group {
  margin-top: 5px;
}

.form.auth .form__label {
  width: 100%;
  text-align: start;
  padding-top: 10px;
  padding-bottom: 0;
  border: none;
}

.form.auth .form__input {
  width: 100%;
}

.form.auth .form__submit .btn-primary {
  margin-top: 0;
}

.form.auth .form__message {
  margin-left: 0;
  padding-bottom: 0;
}

.btn-primary, .form__submit .btn-primary {
  outline: none;
  border: none;
  display: inline-block;
  margin-top: 22px;
  padding: 14px 28px 15px;
  color: #fff;
  background-color: #97cf1f;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  border-radius: 3px;
  -webkit-transition: background-color 0.3s ease-in;
  transition: background-color 0.3s ease-in;
}

.btn-primary:hover, .form__submit .btn-primary:hover {
  cursor: pointer;
  background-color: #000;
}

.btn-remove {
  -webkit-transition: color 0.3s ease-in;
  transition: color 0.3s ease-in;
}

.btn-remove:hover {
  color: #97cf1f;
}

.main.auth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.main.auth .well h2 {
  margin-bottom: 15px;
}

.main.auth .well__text {
  margin-bottom: 3px;
}

.content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3.5fr;
      grid-template-columns: 1fr 3.5fr;
  height: calc(100% - 58px);
}

.main {
  padding: 45px;
}

.main h1 {
  color: #97cf1f;
}

.main__admin-list {
  margin-top: 15px;
  list-style: inside;
}

.main__admin-list li + li {
  margin-top: 8px;
}

.main__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 700px;
}

.main__search input[type="text"],
.main__search select {
  color: #333;
  display: inline-block;
  font-family: open sans, sans-serif;
  width: 100%;
  font-weight: 400;
  height: 40px;
  padding: 11px 30px 11px 15px;
  background: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}

.main__search input[type="text"]:focus,
.main__search select:focus {
  outline: none;
  -webkit-box-shadow: 1px 1px 10px rgba(151, 207, 31, 0.8);
          box-shadow: 1px 1px 10px rgba(151, 207, 31, 0.8);
}

.main__search select {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  margin-right: 4px;
}

.main__search-btn {
  position: absolute;
  display: inline-block;
  top: 0;
  font-size: 18px;
  line-height: 38px;
  height: 40px;
  width: 30px;
  text-align: center;
  right: 0;
  color: #97cf1f;
  margin-right: 5px;
  -webkit-transition: 0.3s color ease-in;
  transition: 0.3s color ease-in;
}

.main__search-btn:hover {
  color: #000;
}

.main__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
}

.main__flex .btn-primary {
  margin-top: 0;
}

.main__vip-settings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 18px;
  margin-bottom: 40px;
}

.main__vip-settings-item + .main__vip-settings-item {
  margin-left: 40px;
}

.main__vip-settings-item input {
  width: 60px;
  height: 30px;
  padding-left: 8px;
  border-radius: 3px;
  border: 1px #000 solid;
}

.visually-hidden {
  padding-bottom: 39px !important;
}

.header {
  color: #fff;
  background-color: #97cf1f;
  padding: 15px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__link {
  -webkit-transition: 0.3s color ease-in;
  transition: 0.3s color ease-in;
}

.header__link:hover {
  color: #000;
}

.aside {
  height: 100%;
  padding: 30px;
  border-right: 1px solid #777;
}

.aside__li {
  border-radius: 5px;
  padding: 15px 0 15px 10px;
}

.aside__li i {
  color: #97cf1f;
  margin-right: 15px;
  width: 15px;
}

.aside__li.active {
  border-left: 3px #97cf1f solid;
}

.aside__li.active .aside__link {
  color: #000 !important;
  cursor: default !important;
}

.aside__link {
  text-transform: uppercase;
  font-weight: 700;
  -webkit-transition: 0.3s color ease-in;
  transition: 0.3s color ease-in;
}

.aside__link:hover {
  color: #97cf1f;
}

.table {
  position: relative;
}

.table thead {
  font-size: 14px;
  background-color: #fff;
}

.table thead th {
  padding: 10px;
  border-bottom: 3px solid #97cf1f;
}

.table thead th + th {
  border-left: 2px solid #97cf1f;
}

.table tbody {
  margin-top: 40px;
  text-align: center;
}

.table tbody td {
  padding: 10px;
  border-bottom: 3px solid #777;
}

.table tbody td + td {
  border-left: 2px solid #777;
}

.table .btn-table {
  -webkit-transition: 0.3s color ease-in;
  transition: 0.3s color ease-in;
}

.table .btn-table:hover {
  color: #97cf1f;
}

.table .btn-table + .btn-table {
  margin-left: 15px;
}

.table__none {
  font-size: 42px;
  color: #777;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal__item {
  position: relative;
  width: 600px;
  padding: 40px;
  background-color: #fff;
  border-radius: 20px;
}

.modal__close {
  position: absolute;
  top: 42px;
  right: 40px;
  font-size: 24px;
  -webkit-transition: color 0.3s ease-in;
  transition: color 0.3s ease-in;
}

.modal__close:hover {
  color: #97cf1f;
}

.modal__title {
  color: #97cf1f;
  margin-bottom: 24px;
}

.report__info {
  margin-top: 30px;
}

.report__info div {
  font-size: 18px;
}

.report__info span {
  color: #97cf1f;
  font-weight: 700;
}
/*# sourceMappingURL=style.css.map */