*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  color: #000;
  position: relative;
  cursor: default;
}

img {
  display: block;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  max-width: 100%;
}

a {
  color: inherit;
  font-family: inherit;
  text-decoration: none;
}

button {
  color: inherit;
  font-family: inherit, sans-serif;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

.container {
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

ol,
ul {
  list-style: none;
}

textarea {
  resize: none;
}

.header {
  color: #fff;
}

.header__top {
  font-size: 12px;
  background-color: #97cf1f;
  padding: 14px 0;
}

.header__top .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__top-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header__top-left a,
.header__top-right a {
  color: #fff;
  -webkit-transition: color 0.3s ease-in;
  transition: color 0.3s ease-in;
}

.header__top-left a:hover,
.header__top-right a:hover {
  color: #000;
}

.header__top-right > * {
  margin-left: 13px;
  padding-right: 8px;
  border-right: 1px solid #fff;
}

.header__top-right > *:last-child {
  border-right: none;
}

.header__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-top: 43px;
  color: #000;
  font-size: 14px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.header__bottom-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__bottom-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 30px;
  margin-bottom: 0;
}

.header__bottom-nav-item {
  padding: 8px 0;
  font-weight: 700;
}

.header__bottom-nav-item + .header__bottom-nav-item {
  margin-left: 15px;
}

.header__bottom-nav a {
  -webkit-transition: color 0.3s ease-in;
  transition: color 0.3s ease-in;
}

.header__bottom-nav a:hover {
  color: #97cf1f;
}

.header__bottom-basket {
  position: relative;
  -webkit-transition: color 0.3s ease-in;
  transition: color 0.3s ease-in;
}

.header__bottom-basket:hover .header__bottom-basket-num {
  color: #fff;
  background-color: #000;
}

.header__bottom-basket-num {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 17px;
  height: 17px;
  background-color: #97cf1f;
  border-radius: 50%;
  position: absolute;
  top: -12px;
  left: 7px;
  font-size: 10px;
  -webkit-transition: background-color 0.3s ease-in, color 0.3s ease-in;
  transition: background-color 0.3s ease-in, color 0.3s ease-in;
}

.header__top-right-bonus {
  position: relative;
  -webkit-transition: color 0.3s ease-in;
  transition: color 0.3s ease-in;
}

.header__top-right-bonus:hover {
  color: #000;
}

.header__top-right-bonus:hover .header__top-right-bonus-card {
  z-index: 1000;
  opacity: 1;
}

.header__top-right-bonus-card {
  opacity: 0;
  position: absolute;
  top: 29px;
  right: 0;
  z-index: -1000;
  width: 200px;
  background-color: #fff;
  -webkit-transition: opacity 0.3s ease-in;
  transition: opacity 0.3s ease-in;
}

.header__top-right-bonus-card > img {
  width: 100%;
}

.header__top-right-bonus-card > span {
  position: relative;
  z-index: 100;
  display: inline-block;
  width: 100%;
  color: #000;
  font-size: 18px;
  text-align: center;
  padding-bottom: 5px;
}

.btn-primary,
.form__submit .btn-primary {
  outline: none;
  border: none;
  display: inline-block;
  margin-top: 22px;
  padding: 14px 28px 15px;
  color: #fff;
  background-color: #97cf1f;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  border-radius: 3px;
  -webkit-transition: background-color 0.3s ease-in;
  transition: background-color 0.3s ease-in;
}

.btn-primary:hover,
.form__submit .btn-primary:hover {
  cursor: pointer;
  background-color: #000;
}

.btn-primary:focus, .btn-primary:active,
.form__submit .btn-primary:focus,
.form__submit .btn-primary:active {
  outline: none;
  background-color: #97cf1f;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn-remove {
  -webkit-transition: color 0.3s ease-in;
  transition: color 0.3s ease-in;
}

.btn-remove:hover {
  color: #97cf1f;
}

.main.reg .main__heading {
  text-transform: uppercase;
  font-size: 34px;
  line-height: 55px;
  text-align: center;
  overflow: hidden;
}

.main.reg .main__heading:after {
  content: "";
  height: 1px;
  display: block;
  background: #e0e0e0;
  margin: 20px 0 40px;
}

.main.reg .main__info {
  margin: 0 0 10px;
  color: #777;
  font-size: 14px;
  line-height: 24px;
}

.main.reg .main__info a {
  color: #97cf1f;
}

.main.reg .main__info a:hover {
  text-decoration: underline;
}

.main.auth {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-column-gap: 40px;
          column-gap: 40px;
}

.main.auth .well {
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-top: 2px solid #97cf1f;
  margin-bottom: 30px;
  padding: 30px;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.main.auth .well h2 {
  font-size: 32px;
  margin-bottom: 20px;
}

.main.auth .well__text {
  border-bottom: 1px solid #e0e0e0;
  padding: 20px 0;
  font-size: 14px;
  line-height: 24px;
  color: #777;
}

.main.buy h1 {
  font-size: 36px;
  text-align: center;
  margin-top: 54px;
  color: #777;
}

.main.buy span {
  display: block;
  color: #97cf1f;
}

.main.buy span:last-child {
  margin-top: 30px;
}

.main.buy .buy__info {
  font-size: 28px;
  color: #777;
}

.main.buy .buy__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main.buy .buy__btn .btn-primary + .btn-primary {
  margin-left: 25px;
}

.main.buy .buy_price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 24px;
  margin-top: 20px;
}

.main.buy .buy_price span {
  margin-top: 0;
}

.swiper-slider .slide-desc {
  text-align: center;
  display: inline-block;
  width: 100%;
  position: absolute;
  top: 53%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.swiper-slider .slide-desc h2 {
  font-size: 60px;
  margin-bottom: 8px;
}

.swiper-slider .slide-desc h3 {
  font-size: 58px;
  margin-bottom: 10px;
}

.swiper-slider .slide-desc h5 {
  font-size: 18px;
  margin-bottom: 8px;
}

.breadcrumb {
  margin: 15px 0 25px;
  margin-top: 128px;
  padding: 13px 15px;
  border-radius: 0;
  background: #f5f5f5;
  font-size: 14px;
  line-height: 24px;
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.breadcrumb > li > i {
  font-size: 10px;
  color: #ccc;
  margin-right: 5px;
}

.breadcrumb a,
.breadcrumb a:visited,
.breadcrumb a:focus {
  color: #97cf1f;
}

.form fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

.form fieldset + fieldset {
  margin-top: 24px;
}

.form legend {
  display: block;
  width: 100%;
  margin-bottom: 20px;
  line-height: inherit;
  color: #333;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
  font-weight: 400;
  font-size: 18px;
  padding: 7px 0;
}

.form__label {
  display: inline-block;
  width: 20%;
  font-size: 12px;
  font-weight: 400;
  color: #777;
  text-align: end;
  padding-right: 40px;
  margin-bottom: 3px;
}

.form sup {
  font-size: 14px;
  color: #ee372a;
  font-weight: 700;
  top: -3px;
  left: -2px;
}

.form__input {
  display: inline-block;
  width: 70%;
  background: #f5f5f5;
  border: 1px solid #e0e0e0;
  color: #333;
  font-size: 14px;
  height: 40px;
  line-height: 24px;
  padding: 8px 10px 8px 20px;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 3px;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.form__input:focus {
  border-color: #97cf1f;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.078), 0 0 8px rgba(102, 175, 233, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.078), 0 0 8px rgba(102, 175, 233, 0.6);
}

.form__group + .form__group {
  margin-top: 20px;
}

.form__message {
  font-size: 12px;
  margin-left: 21%;
  padding: 5px 0;
  color: #ee372a;
}

.form__submit {
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.form__submit p {
  font-size: 12px;
  color: #ee372a;
  padding: 5px 0;
}

.form__submit input {
  display: block;
  width: auto;
  height: auto;
  background-color: #97cf1f;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  padding: 14px 20px;
  border-radius: 6px;
  -webkit-transition: background-color 0.3s ease-in;
  transition: background-color 0.3s ease-in;
  outline: 0;
  border: none;
}

.form__submit input:hover {
  background-color: #000;
  cursor: pointer;
}

.form textarea {
  resize: none;
  border-radius: 6px;
  padding: 10px;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.form textarea:focus {
  border-color: #97cf1f;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.078), 0 0 8px rgba(102, 175, 233, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.078), 0 0 8px rgba(102, 175, 233, 0.6);
}

.form.auth .form__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form.auth .form__group + .form__group {
  margin-top: 5px;
}

.form.auth .form__label {
  width: 100%;
  text-align: start;
  padding-top: 10px;
  padding-bottom: 0;
  border: none;
}

.form.auth .form__input {
  width: 100%;
}

.form.auth .form__submit .btn-primary {
  margin-top: 0;
}

.form.auth .form__message {
  margin-left: 0;
  padding-bottom: 0;
}

.banner {
  margin-top: 57px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -webkit-column-gap: 40px;
          column-gap: 40px;
}

.banner__item {
  position: relative;
}

.banner__item + .banner__item {
  margin-top: 30px;
}

.banner__item .s-desc {
  position: absolute;
  left: 10%;
  right: 10%;
  top: 49.5%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  line-height: 24px;
  text-align: center;
  color: #fff;
}

.banner__item:hover .banner__img:before {
  opacity: 1;
}

.banner__item:hover .s-desc .banner__title {
  font-size: 36px;
}

.banner__item:hover .s-desc .banner__desc {
  font-size: 12px;
}

.banner__img {
  position: relative;
}

.banner__img::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(151, 207, 31, 0.8);
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: opacity 0.3s ease-in;
  transition: opacity 0.3s ease-in;
}

.banner__title, .banner__desc {
  font-size: 0;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.banner__title {
  line-height: 36px;
  text-transform: uppercase;
}

.goods {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  margin-top: 22px;
}

.goods__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
}

.goods__header-title {
  text-transform: uppercase;
}

.goods__header-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.goods__header-list li {
  color: #333;
  font-weight: 700;
  cursor: default;
}

.goods__header-list li a {
  -webkit-transition: color 0.3s ease-in;
  transition: color 0.3s ease-in;
}

.goods__header-list li a:hover {
  cursor: pointer;
  color: #97cf1f;
}

.goods__header-list li.active a {
  color: #97cf1f;
}

.goods__header-list li.active a:hover {
  cursor: default;
}

.goods__header-list li + li {
  margin-left: 60px;
}

.goods__header-search {
  position: relative;
  width: 500px;
}

.goods__header-search input[type="text"] {
  color: #333;
  display: inline-block;
  font-family: open sans, sans-serif;
  width: 100%;
  font-weight: 400;
  height: 40px;
  padding: 11px 30px 11px 15px;
  background: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}

.goods__header-search input[type="text"]:focus {
  outline: none;
  -webkit-box-shadow: 1px 1px 10px rgba(151, 207, 31, 0.8);
          box-shadow: 1px 1px 10px rgba(151, 207, 31, 0.8);
}

.goods__header-search-btn {
  position: absolute;
  display: inline-block;
  top: 0;
  font-size: 18px;
  line-height: 38px;
  height: 40px;
  width: 30px;
  text-align: center;
  right: 0;
  color: #97cf1f;
  margin-right: 5px;
  -webkit-transition: 0.3s color ease-in;
  transition: 0.3s color ease-in;
}

.goods__header-search-btn:hover {
  color: #000;
}

.goods__item-image-block {
  border: 1px solid #e0e0e0;
}

.goods__item-image-block:hover img {
  opacity: 0.5;
}

.goods__item-img {
  -webkit-transition: opacity 0.3s ease-in;
  transition: opacity 0.3s ease-in;
}

.goods__item-content {
  margin-top: 17px;
}

.goods__item-title {
  color: #777;
}

.goods__item-footer {
  margin-top: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-transform: uppercase;
  font-weight: 700;
}

.goods__item-btn {
  display: inline-block;
  position: relative;
  text-transform: uppercase;
  font-weight: 800;
  -webkit-transition: 0.5s color ease;
  transition: 0.5s color ease;
}

.goods__item-btn:before {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 1px;
  content: "";
  display: inline-block;
  background: #000;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
}

.goods__item-btn:hover {
  color: #97cf1f;
}

.goods__item-btn:hover::before {
  background-color: #97cf1f;
  left: 50%;
  width: 0;
}

.goods__item-price, .goods__item-bonus {
  color: #97cf1f;
  font-weight: 700;
}

.goods__item-price span, .goods__item-bonus span {
  color: #000;
}

.goods__item-price span:nth-child(2), .goods__item-bonus span:nth-child(2) {
  color: #777;
  text-decoration: line-through;
  margin-left: 10px;
}

.goods-no-grid {
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

.goods-no-grid .goods__none {
  font-size: 34px;
  text-align: center;
  color: #777;
  margin-top: 30px;
}

.good-page {
  margin-top: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.good-page .goods__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.good-page .goods__item-content {
  margin-top: 0;
  margin-left: 40px;
}

.good-page .goods__item-title {
  font-size: 34px;
}

.good-page .goods__item-footer {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.good-page .goods__item-bonus {
  font-size: 24px;
}

.good-page .goods__item-price {
  font-size: 20px;
  margin-bottom: 20px;
}

.good-comment {
  margin-top: 30px;
}

.good-comment__block-item {
  margin-top: 20px;
}

.good-comment__title {
  font-size: 24px;
}

.good-comment__block {
  margin-top: 30px;
}

.good-comment__block-item-name {
  color: #97cf1f;
}

.good-comment__btn {
  width: 20px;
  height: 26px;
  font-size: 0;
  line-height: 1;
  padding: 0;
  border: none;
  background-color: transparent;
  background-image: url(data:image/svg+xml,%3Csvg%20width%3D%2220%22%20height%3D%2221%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M19.07%2011.737a3.689%203.689%200%2000.61-2.057c0-.867-.315-1.62-.945-2.26-.63-.639-1.375-.959-2.237-.959h-2.187c.397-.832.597-1.64.597-2.423%200-.984-.146-1.766-.436-2.347A2.752%202.752%200%200013.205.41C12.649.137%2012.024%200%2011.328%200c-.423%200-.795.156-1.118.467-.357.353-.613.808-.77%201.363a17.973%2017.973%200%2000-.38%201.596c-.095.51-.242.87-.441%201.08-.406.445-.85.984-1.33%201.615-.837%201.102-1.404%201.754-1.702%201.956H2.182c-.44%200-.815.158-1.125.473A1.57%201.57%200%2000.59%209.692v8.077c0%20.446.155.827.466%201.142.31.316.685.473%201.125.473H5.76c.183%200%20.754.169%201.715.505%201.02.362%201.916.638%202.691.827a9.88%209.88%200%20002.355.284h1.603c1.168%200%202.109-.339%202.821-1.016.712-.678%201.065-1.6%201.057-2.77.497-.648.745-1.397.745-2.247a3.89%203.89%200%2000-.037-.542c.315-.564.472-1.17.472-1.817a3.34%203.34%200%2000-.112-.871z%22%20fill%3D%22%23E8E8E8%22%2F%3E%3C%2Fsvg%3E);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center top;
  cursor: pointer;
  -webkit-transition: background-image 0.3s ease 0s;
  transition: background-image 0.3s ease 0s;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.good-comment__btn:hover, .good-comment__btn--active {
  background-image: url(data:image/svg+xml,%3Csvg%20width%3D%2220%22%20height%3D%2221%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M19.07%2011.737a3.689%203.689%200%2000.61-2.057c0-.867-.315-1.62-.945-2.26-.63-.639-1.375-.959-2.237-.959h-2.187c.397-.832.597-1.64.597-2.423%200-.984-.146-1.766-.436-2.347A2.752%202.752%200%200013.205.41C12.649.137%2012.024%200%2011.328%200c-.423%200-.795.156-1.118.467-.357.353-.613.808-.77%201.363a17.973%2017.973%200%2000-.38%201.596c-.095.51-.242.87-.441%201.08-.406.445-.85.984-1.33%201.615-.837%201.102-1.404%201.754-1.702%201.956H2.182c-.44%200-.815.158-1.125.473A1.57%201.57%200%2000.59%209.692v8.077c0%20.446.155.827.466%201.142.31.316.685.473%201.125.473H5.76c.183%200%20.754.169%201.715.505%201.02.362%201.916.638%202.691.827a9.88%209.88%200%20002.355.284h1.603c1.168%200%202.109-.339%202.821-1.016.712-.678%201.065-1.6%201.057-2.77.497-.648.745-1.397.745-2.247a3.89%203.89%200%2000-.037-.542c.315-.564.472-1.17.472-1.817a3.34%203.34%200%2000-.112-.871z%22%20fill%3D%22%23CB11AB%22%2F%3E%3C%2Fsvg%3E);
}

.good-comment__btn--active {
  pointer-events: none;
}

.good-comment__btn--reverse {
  margin-left: 20px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.basket__title {
  text-transform: uppercase;
  font-size: 34px;
  line-height: 55px;
  text-align: center;
  margin-bottom: 30px;
}

.basket__none {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  margin-top: 56px;
  color: #777;
}

.basket__item {
  border-bottom: 1px solid #777;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-height: 250px;
  padding: 0 20px;
}

.basket__item + .basket__item {
  margin-top: 20px;
}

.basket__item-left img {
  height: 100%;
}

.basket__item-right {
  width: 100%;
  margin-left: 40px;
}

.basket__item-title {
  margin-top: 74px;
  font-size: 24px;
  color: #777;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.basket__item-price, .basket__item-bonus {
  margin-top: 20px;
  color: #97cf1f;
  font-weight: 700;
}

.basket__item-price span, .basket__item-bonus span {
  color: #000;
}

.basket__item-price span:nth-child(2), .basket__item-bonus span:nth-child(2) {
  color: #777;
  text-decoration: line-through;
  margin-left: 10px;
}

.basket__item-qty {
  color: #97cf1f;
  margin-top: 20px;
  font-weight: 700;
}

.basket__item-qty input {
  width: 50px;
  height: 30px;
  padding-left: 8px;
  border-radius: 3px;
  border: 1px #000 solid;
}

.basket__item-qty input:focus {
  outline: none;
}

.basket__total {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.basket__total h3 span {
  color: #97cf1f;
}

.basket__total h3 span:nth-child(2) {
  margin-left: 15px;
}

.basket__total .btn-primary {
  margin-top: 0;
}

.basket__discount span {
  color: #97cf1f;
  font-weight: 700;
}

.footer {
  margin-top: 84px;
}

.footer__top {
  padding-top: 78px;
  padding-bottom: 55px;
  background: #f7f7f7;
}

.footer__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 0.7fr 1.3fr;
      grid-template-columns: 1fr 0.7fr 1.3fr;
  -webkit-column-gap: 84px;
          column-gap: 84px;
}

.footer__title {
  text-transform: uppercase;
  margin-bottom: 20px;
  font-size: 14px;
}

.footer__text {
  font-size: 12px;
  color: #777;
  font-style: normal;
}

.footer__list li {
  -webkit-transition: color 0.3s ease-in;
  transition: color 0.3s ease-in;
}

.footer__list li:hover {
  color: #97cf1f;
}

.footer__list li + li {
  margin-top: 10px;
}

.footer__top-right address {
  margin-bottom: 5px;
}

.footer__top-right dl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__top-right dl + dl {
  margin-top: 10px;
}

.footer__top-right dd {
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
}

.footer__top-right i {
  color: #97cf1f;
  width: 30px;
  font-size: 12px;
}

.footer__top-right a {
  font-size: 12px;
  font-weight: 700;
  -webkit-transition: color 0.3s ease-in;
  transition: color 0.3s ease-in;
}

.footer__top-right a:hover {
  color: #97cf1f;
}

.footer__bottom {
  background-color: #97cf1f;
  padding: 15px 0;
}

.footer__container-bottom {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__social li {
  width: 49px;
  height: 49px;
  border-radius: 50%;
  background-color: #fff;
  color: #97cf1f;
  -webkit-transition: background-color 0.3s ease-in, color 0.3s ease-in;
  transition: background-color 0.3s ease-in, color 0.3s ease-in;
}

.footer__social li a {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__social li:hover {
  color: #fff;
  background-color: #000;
}

.footer__social li + li {
  margin-left: 15px;
}

.footer__payments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__payments li + li {
  margin-left: 10px;
}

.footer__copyright {
  color: #777;
  font-size: 12px;
  text-align: end;
}
/*# sourceMappingURL=style.css.map */